:root{
    /*respondsible for the background colors*/
    --main-b: hsl(218, 28%, 13%);
    --minor-b: hsl(217, 28%, 15%);
    --footer-b: hsl(216, 53%, 9%);
    --testimonials-b: hsl(219, 30%, 18%);
    /* accent */
    --inside-cyan: hsl(176, 68%, 64%);
    --inside-blue: hsl(198, 60%, 50%);
    /* neutral */
    --white: hsl(0, 0%, 100%);

}
html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--white);
  }
  h1, h2, h3, h4, header, section {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
  }
  ul {
    list-style: none;
    padding: 0;
    display: inline;
  }
  a {
    text-decoration: none;
    
    color: white !important;
  }
  img {
    max-width: 100%;
  }
  button:focus, input:focus {
    outline-style: none;
  }
  header {
    background: var(--minor-b);
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: flex;
  }
  .logo img {
    width: 80%;
  }
  nav {
    font-weight: 400;
    text-align: center;
    display: inline;
  }
  .navbar {
    display: grid;
    grid-template-columns: repeat(3, minmax(4rem, 1fr));
    grid-gap: 10px;
  }
  .navbar a {
    color: var(--white);
  }
  .navbar a:hover {
    color: var(--inside-blue);
  }
   /* Main Section */
   main {
    background: var(--main-b);
    text-align: center;
    padding-bottom: 200px;
    z-index: -1; /* For quotes */
  }
  
  /* Intro */
  .call-to-action{
    background: var(--minor-b);
    background-image: url('../images/bg-curvy-mobile.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }
  
  .call-to-action-wrapper {
    padding: 10%;
    padding-bottom: 0;
  }
  
  .description {
    font-weight: 400;
  }
  
  .call-to-action-btn {
    background: linear-gradient(to right, var(--inside-cyan), var(--inside-blue));
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 15px;
    font-size: 1rem;
    font-weight: 700;
    color: var(--white);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    width: 70%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .call-to-action-btn:hover {
    cursor: pointer;
    border-color: var(--inside-blue);
  }
  
  .call-to-action-btn:active {
    background: none;
    border-color: var(--inside-blue);
  }
  
  .cards {
    padding: 100px 8%;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(1, minmax(200px, 350px));
    justify-content: center;
  }
   /* Stay Productive Section */
   .stay-productive-section {
    padding: 8%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .stay-productive-section>* {
    max-width: 500px;
  }
  
  .sub-title {
    font-size: 1.2rem;
  }
  
  .stay-productive-link {
    padding-right: 23px;
    padding-bottom: 5px;
    font-size: .8rem;
    font-weight: 400;
    color: var(--inside-cyan);
    border-bottom: 1px solid var(--inside-cyan);
    background: no-repeat url('../images/icon-arrow.svg');
    background-position: top right;
    transition: border 0.1s linear;
  }
  
  .stay-productive-link:hover {
    border-bottom: 1px solid transparent;
    background-size: 17px;
  }
   /* Testimonials */
   .testimonials {
    margin-top: 50px;
    padding: 20px 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* For quotes */
    z-index: 1;
    position: relative;
  }
  
  .testimonial-card {
    background: var(--testimonials-b);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(100, 100, 100, 0.1);
    padding: 20px;
    text-align: left;
    font-size: .7rem;
    margin: 10px;
    max-width: 313px;
  }
  
  .quotes {
    position: relative;
  }
  
  .quotes:before {
    content: '';
    width: 25px;
    height: 25px;
    background: no-repeat url('../images/bg-quotes.png');
    background-size: 25px;
    position: absolute;
    top: -15px;
    left: -5px;
    z-index: -1;
  }
  
  .profile {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 40px 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
  }
  
  .profile-img {
    grid-row: 1 / span 2;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  .profile-name {
    margin: 0;
    letter-spacing: 1px;
  }
  
  .profile-description {
    margin: 0;
    font-size: .6rem;
  }
   /* Footer */
   footer {
    position: relative;
    padding: 5% 5% 20px;
    background: var(--footer-b);
  }
  
  /* Minor Call to Action */
  .minor-call-to-action {
    position: absolute;
    top: -7rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    box-shadow:
      0 0 5px rgba(0, 0, 0, 0.2),
      5px 5px 2px rgba(0, 0, 0, .2);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    background: var(--minor-b);
  }
  
  .minor-call-to-action p {
    font-weight: 400;
  }
  
  .call-to-action-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  input[type="email"] {
    flex-basis: 100%;
    padding: 20px;
    border: none;
    border-radius: 50px;
  }
  
  .minor-btn {
    margin-top: 10px;
    flex-basis: 100%;
  }
  
  /* Footer Logo */
  .footer-logo {
    display: block;
    margin-top: 250px;
  }
  
  /* Footer Container */
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  
  .location {
    max-width: 300px;
  }
  
  .location-item, .phone-item, .email-item {
    padding-left: 40px;
    margin: 2rem 0;
    position: relative;
  }
  
  li[class~="icon"]:before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    left: 3px;
  }
  
  .location-item:before {
    background-image: url('../images/icon-location.svg');
    top: 8px;
  }
  
  .phone-item:before {
    background-image: url('../images/icon-phone.svg');
  }
  
  .email-item:before {
    background-image: url('../images/icon-email.svg');
  }
  
  .about-us, .something-with-us {
    margin: 1.5rem 0;
  }
  
  .about-us li, .something-with-us li {
    font-size: 1rem;
    line-height: 2;
  }
  
  .footer-container a {
    color: var(--white);
  }
  
  .footer-container a:hover {
    color: var(--inside-blue);
  }
  
  .social-links {
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .social-links li {
    width: 50px;
    height: 50px;
    margin: 7px;
  }
  
  .social-links li a {
    border: 1px solid var(--white);
    border-radius: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-links li a:hover {
    color: var(--inside-blue);
    border-color: var(--inside-blue);
  }
  
  /* Attribution */
  .attribution {
    margin-top: 50px;
  }
  .attribution p {
    display: flex;
  }
  
  .attribution p span {
    flex: 1;
  }
  
  .attribution p span:first-of-type {
    text-align: right;
    padding-right: 5px;
  }
  
  .attribution p span:last-of-type {
    text-align: left;
    padding-right: 5px;
  }
  
  .attribution a {
    color: var(--white);
    text-decoration: underline;
  }
  
  .attribution a:hover {
    color: var(--inside-cyan);
  }
  
  .attribution p {
    margin: 0;
  }